.button_container{
    width:100vw;
    height:15vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;

}
.accounts_container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows:150px 150px;
    grid-gap: 25px;
    height: 50vh;
    padding: 0px 30px;
}

.titles_container{
    height:20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button_container > button {
    margin-left:25px;
}
